
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Header Style */

.header-styles {
    background-image: url("../assets/images/header_bg.png"), url("../assets/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right , top left; 
   
}

/* Nav Styles */

nav ul li {
    list-style: none;
    margin: 40px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 220px ;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* Shared Styles */

.text-alingment {
    text-align: center;
}

.color-bg {
    background-color:#FFF8F3 ;
}


.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747 ;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.btn-primary {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding:18px 35px ;
    background-color:#FD6E0A;
    border-radius: 5px;
    border-style: none;
} 

/* Banner Greetings */

.banner {
    display: flex;
    justify-content: space-between;
    
}

.banner-content {
    width: 580px;
    height: 350px;
    margin: 180px 160px 180px 200px;
}

.greetings {
    font-weight: 600;
    font-size: 45px;
}

.name {
    font-weight: bold ;
    font-size: 75px;
}

.profile-pic {
    width: 580px;
    margin: 47px 38px 0px 0px;
}

.details {
    color : #757575;
    font-size: 18px;

}

/* main styles */

.section-m {
    max-width: 1140px;
    height: 550px;
    margin: 0 auto ;
}

main section  {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about section */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

          /* What I do Section Styles */

.skills-container {
    display: flex;
    gap: 24px;

} 

.skill {
    padding: 31px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 267px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    margin-bottom: 130px;
}

        /*Resume Section  */
.resume-container{
   display: flex;
   gap:24px;
}
    
